# List :

In [1]:
# declaring a list
num = 5.2
data = [num, "word", True]
print(data)

[5.2, 'word', True]

In [2]:
print(data[0],"\t", data[1])

5.2 	 word

In [4]:
#list within a alist
data = [num, "word",[3, "rima"] , True]
print(data[2])
print(data[2][1])

[3, 'rima']
rima

In [5]:
inner_list = data[2]
print(inner_list[1])

rima

# Working with lists :

In [6]:
# Changing values in a list
data = [9,3,15,12,10,30,21]
data[0]= 11
print(data)

[11, 3, 15, 12, 10, 30, 21]

In [7]:
# copy a list
my_copy = data[:]
my_copy[1]=33
print(data, "\t", my_copy)

[11, 3, 15, 12, 10, 30, 21] 	 [11, 33, 15, 12, 10, 30, 21]

In [8]:
# checking the number of items (length) using len()
length = len(data)
print(length)

7

In [9]:
# adding value to a list using insert()
data.insert(0,22)
print(data)

[22, 11, 3, 15, 12, 10, 30, 21]

In [10]:
data.insert(3,44)
print(data)

[22, 11, 3, 44, 15, 12, 10, 30, 21]

In [12]:
# removing value from a list, by default delete last element using pop()
names = ["Sara", "Asia", "Ahmed"]
#removed_names = names.pop()
removed_names = names.pop(0)
print(names, removed_names)

['Asia', 'Ahmed'] Sara

In [16]:
print(data)

[22, 11, 3, 44, 15, 12, 10, 30, 21]

In [17]:
# min, max , sum of items
print(min(data)), print(max(data)); print(sum(data))

3
44
168

In [18]:
# sorting a list using sorted()
nums= [3,5,2,6,1]
sorted_list = sorted(nums)
print(nums, sorted_list)

[3, 5, 2, 6, 1] [1, 2, 3, 5, 6]

In [19]:
# sorting a list using .sort()
nums= [31,52,22,61,10]
nums.sort()
print(nums)

[10, 22, 31, 52, 61]

In [ ]:
# using conditional statements in a list
letters = ["a", "b", "c", "d", "e"]